* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f0f0d7;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.75rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding-left: 40px;
  padding-right: 40px;
}

pre {
  font-size: 3rem;
  line-height: 5rem;
  color: #727d73;
  font-weight: bolder;
}

a:hover {
  background-color: #d0ddd0;
  color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

div.navbar-left a {
  font-size: 2.25rem;
}

div.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 999;
  width: 100vw;
  height: 8vh;
  padding: 0px 40px 0px 40px;
  background-color: #727d73;
  box-shadow: 2px 2px 3px black;
}

div.navbar-left,
div.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.navbar-left a,
div.navbar-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.lab-dropdown {
  height: 100%;
  position: relative;
  display: inline-block;
}

div.lab-content {
  display: none;
  position: absolute;
  background-color: #aab99a;
  min-width: 100%;
  z-index: 1;
}

div.lab-content a {
  padding: 20px 20px;
}

div.lab-dropdown:hover .lab-content {
  display: block;
}

div.home-content {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
